.login-container {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 500px;
}

.login-container h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 29px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-container form>* {
  height: 60px;
  border-radius: 60px;
}

.login-container form input {
  padding: 0 20px;
  box-shadow: 0 0 3px 1px rgb(12 12 12 / 50%);
  font-size: 16px;
  outline: 0;
  border: 0;
}

.login-container form button {
  background-color: var(--color-green-light);
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.login-container .login-find-btns {
  padding: 10px 0;
  display: flex;
  justify-content: right;
  gap: 7px;
}

.login-container .login-find-btns button {
  font-size: 16px;
}

.login-container h3 {
  font-size: 20px;
}

.login-container .login-async-btns {
  margin-bottom: 140px;
  padding: 30px 60px;
  display: flex;
  gap: 60px;
}

.login-container .login-async-btns img {
  width: 100%;
}

.login-container .login-signup>* {
  display: inline-block;
}

.login-container .login-signup p {
  margin-right: 15px;
}

.login-container .login-signup button {
  font-size: 1rem;
  font-weight: 500;
}