input[type="text"] {}

.login-container {
  margin: 0 auto;
  max-width: 500px;
}

.login-container h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 29px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-container form>* {
  height: 60px;
  border: 4px solid;
  border-radius: 60px;
}

.login-container form input {
  padding: 0 20px;
}

.login-container form button {
  font-size: 25px;
}

.login-container .login-find-btns {
  padding: 10px 0;
  display: flex;
  justify-content: right;
}

.login-container .login-find-btns button {
  font-size: 16px;
}

.login-container h3 {
  font-size: 20px;
}

.login-container .login-async-btns {}

.login-container .login-async-btns button {}

.login-container .login-signup {}

.login-container .login-signup>* {
  display: inline-block;
}

.login-container .login-signup p {
  margin-right: 15px;
}

.login-container .login-signup button {}